@import 'tippy.js/dist/tippy.css';

.tippy-box[data-theme~="doc-it"] {
    background-color: var(--theme-bright);
    border: thin solid var(--theme-accent);
    border-radius: 0;

    font-size: inherit;
    line-height: inherit;
    color: inherit;

    &[data-placement^="top"] .tippy-arrow::before {
        border-width: 7px 7px 0;
        border-top-color: var(--theme-accent);
    }

    &[data-placement^="bottom"] .tippy-arrow::before {
        border-width: 0 7px 7px;
        border-bottom-color: var(--theme-accent);
    }

    &[data-placement^="left"] .tippy-arrow::before {
        border-width: 7px 0 7px 7px;
        border-left-color: var(--theme-accent);
    }

    &[data-placement^="right"] .tippy-arrow::before {
        border-width: 7px 7px 7px 0;
        border-right-color: var(--theme-accent);
    }
}

abbr[data-title] {
    cursor: help;

    text-decoration: underline wavy var(--theme-accent, inherit) from-font;
    text-underline-offset: .125em;
}
